* {
  background-color: rgb(47, 53, 110);
  box-shadow: 0px 0px 70px rgba(79, 78, 78, 0.989);
  border: yellow solid 5px;
}

div {
  display: block;
  width: 700px;
  height: auto;
  max-height: fit-content;
  margin: 0 auto;
  color: white;
}
