@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.layout {
  text-align: center;
  margin-top: 60px;
}

mat-card-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 2px 2px 2px grey;
  color: yellow;
  text-align: center;
}

mat-form-field {
  margin: 8px;
  box-shadow: 0px 2px 1px rgb(209, 255, 6);
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

}

mat-radio-group {
  /*Para que los botones de las opciones queden alineados y en el centro hacemos un grid*/
  display: grid;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.error {
  color: red;
}

.add {
  align-items: flex-end;
  text-align: right;
  margin: 20px;

}

.lista {
  background-color: rgba(45, 44, 44, 0.686);
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  color: white;
}

.botones {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

.mat-list-base .mat-list-item{
  color: white;
}

mat-grid-list {
  text-align: center;
  max-height: fit-content;
  height: auto;
}

.encabezado {
  text-align: center;
  color: white;
}
